<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yangmy.tide.service.system.mapper.SysPermissionMapper">
    <select id="selectPermissionCodeByUserId" resultType="string">
        select p.code from sys_permission p where p.id in(
            select rp.permission_id from sys_role_permission rp where rp.role_id in(
                select ur.role_id from sys_user_role ur where ur.user_id=#{userId} and ur.del_flag=0
            ) and rp.del_flag=0
        ) and p.type=#{type} and p.del_flag=0
    </select>
</mapper>
